# Node / Next.js
.next/
.turbo/
node_modules/
dist/
out/
coverage/
.vercel/
.DS_Store

# Env & local
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
*.swp
*.swo

# Prisma
src/generated/
prisma/*.db
prisma/*.sqlite
